streamlit
PyPDF2
git+https://github.com/PrithivirajDamodaran/Gramformer.git
textblob
torch
spacy
pandas
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
